.containerNavbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.contentNavBar {
  background-color: rgb(223, 135, 46);
}
